*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.staff-msg-heading-containor{
    padding: 10px 20px;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.staff-msg-heading{
    display: flex;
    justify-content: flex-start;
    padding: 0px 10px;
    margin-left: 30px;
    font-size: 38px;
    color: rgb(63, 36, 1);
}
.our-staffs{
    margin-left: 5px;
    color: rgb(140, 82, 7);
}
.underline-staff-msg{
        width: 350px;
        margin-left: 40px;
        background-color: rgb(247, 146, 16);
        height: 4px;
}
.msg-containor{
    padding: 10px;
    width: 100vw;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.msg-content{
    width: 100%;
    height: 500px;
    /* background-color: pink; */
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.left-side, .right-side{
    width: 50%;
    margin: 5px;
    padding: 10px;
    /* background-color: green; */
}
.staff-image-containor,.left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.staff-iamge{
    width: 250px;
    border-radius: 30%;
}
.staff-title{
    font-size: 22px;
    padding: 10px;
}
.message{
    font-size: 14px;
    text-align: justify;
    padding: 10px;
    padding-top: 35px;
}
.nameofStaff{
    width: 100%;
    text-align: end;
    margin: 10px 0px;
}

@media screen and (max-width:900px) {

    .staff-msg-heading{
        font-size: 28px;
        font-weight: 500;
    }
    .underline-staff-msg{
        width: 260px;
    }
    
}
@media screen and (max-width:550px) {
        
}